<%= render 'shared/navbar' %>

<div class="container container-cock-new mt-3">
  <div class="card-info">
    <h2>Your new cocktail</h2>
    <%= render 'shared/form', cocktail: @cocktail, dose: @dose %>

  </div>


</div>


<%= render 'shared/footer', content_for(:footer_class, 'footer-new') %>
