.cock-cont {
  display: flex;
  justify-content: center;
  /* display: -webkit-box; */
  /* flex-wrap: wrap; */
  // margin-right: -15px;
  // margin-left: -15px;
}

.doses {
  display: flex;
    abbr[title], abbr[data-original-title] {
      display: none;
    }
}
