.navbar-cocktails {
  justify-content: space-between;
  background: white;
  height: 16px;
  position: fixed;
  height: 70px;
  top: 0px;
  width: -webkit-fill-available;
}

.navbar-cocktails .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktails .navbar-brand img {
  width: 40px;
}

